# Membaca data csv dan dimasukkan ke variable pelanggan

In [1]:
pelanggan <- read.csv("customer_segments.txt", sep="\t")
head(pelanggan)

  Customer_ID Nama.Pelanggan      Jenis.Kelamin Umur Profesi      Tipe.Residen
1 CUST-001    Budi Anggara        Pria          58   Wiraswasta   Sector
2 CUST-002    Shirley Ratuwati    Wanita        14   Pelajar      Cluster
3 CUST-003    Agus Cahyono        Pria          48   Professional Cluster
4 CUST-004    Antonius Winarta    Pria          53   Professional Cluster
5 CUST-005    Ibu Sri Wahyuni, IR Wanita        41   Wiraswasta   Cluster
6 CUST-006    Rosalina Kurnia     Wanita        24   Professional Cluster
  NilaiBelanjaSetahun
1  9497927
2  2722700
3  5286429
4  5204498
5 10615206
6  5215541

In [2]:
pelanggan_matrix <- data.matrix(pelanggan[c("Jenis.Kelamin", "Profesi", "Tipe.Residen")])
head(pelanggan_matrix)

     Jenis.Kelamin Profesi Tipe.Residen
[1,] 1             5       2
[2,] 2             3       1
[3,] 1             4       1
[4,] 1             4       1
[5,] 2             5       1
[6,] 2             4       1

In [3]:
pelanggan <- data.frame(pelanggan, pelanggan_matrix)
head(pelanggan)

  Customer_ID Nama.Pelanggan      Jenis.Kelamin Umur Profesi      Tipe.Residen
1 CUST-001    Budi Anggara        Pria          58   Wiraswasta   Sector
2 CUST-002    Shirley Ratuwati    Wanita        14   Pelajar      Cluster
3 CUST-003    Agus Cahyono        Pria          48   Professional Cluster
4 CUST-004    Antonius Winarta    Pria          53   Professional Cluster
5 CUST-005    Ibu Sri Wahyuni, IR Wanita        41   Wiraswasta   Cluster
6 CUST-006    Rosalina Kurnia     Wanita        24   Professional Cluster
  NilaiBelanjaSetahun Jenis.Kelamin.1 Profesi.1 Tipe.Residen.1
1  9497927            1               5         2
2  2722700            2               3         1
3  5286429            1               4         1
4  5204498            1               4         1
5 10615206            2               5         1
6  5215541            2               4         1

In [4]:
pelanggan$NilaiBelanjaSetahun = pelanggan$NilaiBelanjaSetahun/1000000
head(pelanggan$NilaiBelanjaSetahun)

[1]  9.497927  2.722700  5.286429  5.204498 10.615206  5.215541

In [5]:
Profesi <- unique(pelanggan[c("Profesi","Profesi.1")])
Profesi

   Profesi          Profesi.1
1  Wiraswasta       5
2  Pelajar          3
3  Professional     4
17 Ibu Rumah Tangga 1
31 Mahasiswa        2

In [6]:
Jenis.Kelamin <- unique(pelanggan[c("Jenis.Kelamin","Jenis.Kelamin.1")])
Jenis.Kelamin

  Jenis.Kelamin Jenis.Kelamin.1
1 Pria          1
2 Wanita        2

In [7]:
Tipe.Residen <- unique(pelanggan[c("Tipe.Residen","Tipe.Residen.1")])
Tipe.Residen

  Tipe.Residen Tipe.Residen.1
1 Sector       2
2 Cluster      1

# Bagian K-Means

In [8]:
set.seed(100)
field_yang_digunakan = c("Jenis.Kelamin.1", "Umur", "Profesi.1", "Tipe.Residen.1","NilaiBelanjaSetahun")
field_yang_digunakan

[1] "Jenis.Kelamin.1"     "Umur"                "Profesi.1"
[4] "Tipe.Residen.1"      "NilaiBelanjaSetahun"

In [9]:
segmentasi <- kmeans(x=pelanggan[field_yang_digunakan], centers=5, nstart=25)
segmentasi

K-means clustering with 5 clusters of sizes 5, 12, 14, 9, 10

Cluster means:
  Jenis.Kelamin.1     Umur Profesi.1 Tipe.Residen.1 NilaiBelanjaSetahun
1            1.40 61.80000  4.200000       1.400000            8.696132
2            1.75 31.58333  3.916667       1.250000            7.330958
3            2.00 20.07143  3.571429       1.357143            5.901089
4            2.00 42.33333  4.000000       1.555556            8.804791
5            1.70 52.50000  3.800000       1.300000            6.018321

Clustering vector:
 [1] 1 3 5 5 4 3 1 5 2 2 5 5 1 1 3 2 2 1 2 3 4 5 2 4 2 5 2 4 5 4 3 4 3 3 4 2 3 4
[39] 3 3 3 2 2 3 3 3 5 4 2 5

Within cluster sum of squares by cluster:
[1]  58.21123 174.85164 316.73367 171.67372 108.49735
 (between_SS / total_SS =  92.4 %)

Available components:

[1] "cluster"      "centers"      "totss"        "withinss"     "tot.withinss"
[6] "betweenss"    "size"         "iter"         "ifault"

In [10]:
Segmen.Pelanggan <- data.frame(cluster=c(1,2,3,4,5), Nama.Segmen=c("Silver Youth Gals", "Diamond Senior Member", "Gold Young Professional", "Diamond Professional", "Silver Mid Professional"))
Segmen.Pelanggan

  cluster Nama.Segmen
1 1       Silver Youth Gals
2 2       Diamond Senior Member
3 3       Gold Young Professional
4 4       Diamond Professional
5 5       Silver Mid Professional

In [11]:
Identitas.Cluster <- list(Profesi=Profesi, Jenis.Kelamin=Jenis.Kelamin, Tipe.Residen=Tipe.Residen, Segmentasi=segmentasi, Segmen.Pelanggan=Segmen.Pelanggan, field_yang_digunakan=field_yang_digunakan) 
Identitas.Cluster

$Profesi
            Profesi Profesi.1
1        Wiraswasta         5
2           Pelajar         3
3      Professional         4
17 Ibu Rumah Tangga         1
31        Mahasiswa         2

$Jenis.Kelamin
  Jenis.Kelamin Jenis.Kelamin.1
1          Pria               1
2        Wanita               2

$Tipe.Residen
  Tipe.Residen Tipe.Residen.1
1       Sector              2
2      Cluster              1

$Segmentasi
K-means clustering with 5 clusters of sizes 5, 12, 14, 9, 10

Cluster means:
  Jenis.Kelamin.1     Umur Profesi.1 Tipe.Residen.1 NilaiBelanjaSetahun
1            1.40 61.80000  4.200000       1.400000            8.696132
2            1.75 31.58333  3.916667       1.250000            7.330958
3            2.00 20.07143  3.571429       1.357143            5.901089
4            2.00 42.33333  4.000000       1.555556            8.804791
5            1.70 52.50000  3.800000       1.300000            6.018321

Clustering vector:
 [1] 1 3 5 5 4 3 1 5 2 2 5 5 1 1 3 2 2 1 2 3 4 5 2 4 2 5 2 4 5 4 3 4 3 3 4 2 3 4
[39] 3 3 3 2 2 3 3 3 5 4 2 5

Within cluster sum of squares by cluster:
[1]  58.21123 174.85164 316.73367 171.67372 108.49735
 (between_SS / total_SS =  92.4 %)

Available components:

[1] "cluster"      "centers"      "totss"        "withinss"     "tot.withinss"
[6] "betweenss"    "size"         "iter"         "ifault"

$Segmen.Pelanggan
  cluster             Nama.Segmen
1       1       Silver Youth Gals
2       2   Diamond Senior Member
3       3 Gold Young Professional
4       4    Diamond Professional
5       5 Silver Mid Professional

$field_yang_digunakan
[1] "Jenis.Kelamin.1"     "Umur"                "Profesi.1"
[4] "Tipe.Residen.1"      "NilaiBelanjaSetahun"

In [12]:
saveRDS(Identitas.Cluster,"cluster.rds")