In [1]:
Segmen.Pelanggan <- data.frame(cluster=c(1,2,3,4,5), Nama.Segmen=c("Silver Youth Gals", "Diamond Senior Member", "Gold Young Professional", "Diamond Professional", "Silver Mid Professional"))
Segmen.Pelanggan

  cluster Nama.Segmen
1 1       Silver Youth Gals
2 2       Diamond Senior Member
3 3       Gold Young Professional
4 4       Diamond Professional
5 5       Silver Mid Professional